@media screen and (max-width:990px){
    .pricing-table{
        margin-bottom: 30px;
    }
    .element-hover {
      transform: scale(1);
      transition: 0.3s;
    } 
    .home-price-column {
        padding-block: 20px;
    }
    .home-price-column .card  .card-body {
        height: max-content !important;
    }
    .standard {
        transform: scale(0.9);
    }
    .yearly-pkg .card .card-body {
        height: 530px !important;
    }
    .src {
        width: 80%;
    }
}
@media screen and (max-width:768px) {
  
    .navbar-brand {
        width: 75%;
    } 
    h1 {
        font-size: 35px !important;
    }
    h2 {
        font-size: 30px !important;
    }
    .form-control {
        width:  100% !important;
    }
}