*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.navbar,.bg-primary {
    background-color: #1D918C !important;
}
.hero-text {
    top:0;
    left:0;
    right:0;
    bottom: 0;
}
.hero-pic {
    background-image: url('/assets/static/images/paperwork.jpg');
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color:rgba(0, 0, 0, 0.479); 
}
