:root {
    --body-color: #e2e2e2;
    --main-bg-color: #024F7C;
    --link-text-color: #024F7C;
    --content-color: #024F7C;
    --white-content: #fff;
    --btn-hover: #55893F;
    --transparency-color: rgba(0, 0, 0, 0.566);
    --transparency-color1: rgba(0, 0, 0, 0.829);
    --section-bg: rgb(190, 190, 190);
    --main-content-font-family: 'Nunito Sans', sans-serif;
    --second-main-content-font-family: 'Oswald', sans-serif;
    --header-font-family: 'Roboto Condensed', sans-serif;
    --second-header-font-family: 'Work Sans', sans-serif;
    --header-weight: 600;
    --content-weight: 400;
    --content-size: 18px;
}
body {
    background-color: var(--body-color);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
table td,
table th,
table tr {
    border: 1px solid var(--link-text-color) !important;
    color: var(--content-color);
}

.text-justify,
p {
    text-align: justify !important;
}

a:focus,
input:focus,
a,
button ,.btn-secondary{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    text-decoration: none;
}
.text-secondary {
  color: var(--btn-hover) !important;
}

.text-info {
    color: var(--content-color) !important;
}

.bg-primary{
    background-color: var(--main-bg-color) !important;
}

.bg-secondary ,.btn-secondary{
    background-color: var(--btn-hover) !important;
}
.btn-primary,.btn-secondary {
    width: 200px;
    padding: 10px;
    margin:  0 auto !important;
}

.btn-primary:hover {
    background-color: var(--btn-hover) !important;

}
.btn-secondary {
    text-align: center;
    border-radius: 5px;
    border: 1px solid #fff !important;
}


.navbar {
    transition: 0.3s ease-in-out;
}

.nav-item a , ul li {
    color: #024F7C !important;
}
 /* ol li {
    list-style-image: url('../static/images/list_images/list.png');
 } */

 ol li {
    list-style-type: none;
    line-height: 1.3rem;position: relative;
    padding-block:8px ;
 }
  
 ol li::before{
   content: '✓';
   color: var(--btn-hover);
   font-size: 20px;
   margin-inline-end: 10px;
   position: absolute;
   left: -25px;
}

.scrolled,
.navbar {
    background-color: #fff !important;
    box-shadow: -1px 2px 12px 0px rgba(0, 0, 0, 1);
}

.scrolled a,
.dropdown-menu a {
    color: var(--content-color) !important;
}

.scrolled .dropdown-menu a:hover,
.choose_us p,
.choose_us h2,
.choose_us h3 {
    color: var(--white-content) !important;
}

.dropdown-menu a:hover {
    background-color: var(--link-text-color);
    color: var(--white-content) !important;
}

p,
.text-dark {
    color: var(--content-color);
    font-size: var(--content-size);
}

.fa {
    color: var(--link-text-color);
}

h1,
h2,
h3,
h4,
h5 ,.price-elg-table th{
    font-family: var(--header-font-family) !important;
    color: var(--btn-hover) !important;
    font-weight: var(--header-weight) !important;
}

h1 {
    font-size: 60px !important;
    text-shadow: 1px 1px 1px #fff;
}
.hero-form {
    text-shadow: 1px 1px 1px #fff;
}
.btn,
.footer,
.footer p {
    background-color: var(--content-color) !important;
    color: var(--white-content) !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    left: auto !important;
    right: 0 !important;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: auto;
    right: auto;
}
.navbar-nav  {
}
#header a img {
    width: 100%;
    height:100%;
}

.hero-text,
p {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hero-pic {
    height: max-content;
    background-image: url('../static/images/main-bg.jpg');
    background-blend-mode: overlay;
    margin-top: 5rem !important;
    background-position: center;
    background-size: cover;
    background-color: #030303a7;
}


.service {
    background-color: #fff;
}

.service .card .card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5;
}

.contact_form {
    background: var(--transparency-color1) url('../static/images/contact_bg.jpg') no-repeat center/cover;
    background-blend-mode: overlay;
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0303039b;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}


.loader {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--white-content);
    border: 5px solid var(--btn-hover);
    border-color: var(--btn-hover) transparent var(--content-color) transparent;
    animation: spin 1s linear infinite;
    position: relative;
}

.sub-loader {
    position: absolute;
    right: auto;
    left: auto;
}

.sub-loader img {
    width: 60px;
    height: 60px;
}

.ch-icon {
    border: 1px solid;
    width: 80px;
    height: 80px;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    font-size: 35px;
    transition: 0.3s ease-in;

}
.element-hover {
    transform: scale(0.9);
    transition: 0.3s;
}
.bg-blue-transperent {
    background-color: #024f7c77 !important;
}
.element-hover:hover {
 border: 1px solid #fff;
 transform: scale(0.93);
}

.element-hover-1 {
    transition: 0.3s cubic-bezier(1, 0, 0, 1);
    transform: scale(0.9);
}
.element-hover-1:hover {
    transform: scale(1);
   }
   

.home-price .card-body p {
    text-shadow: 1px 1px 5px #0303039b;
    text-align: center !important;
}

.home-price .card-body, .yearly-pkg .card-body  {
    height: 550px;
    overflow: auto;
    transition: 0.3s ease-in;
}

.yearly-pkg .card-body  ol li {
    color: var(--white-content) !important;
}


.serv-no {
    background-color: #55893F;
    color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.providing-gst {
    box-shadow: 1px 1px 5px #0000009a;
    border-bottom: 5px solid var(--content-color);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    transition: 0.3s ease-in-out;
    border-radius:30px ;
    position: relative;
    overflow: hidden;

}
.providing-gst p {
    list-style: none;
    margin-block: 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: center !important;
    color: #024F7C;
    text-wrap: wrap;
    transition: 0.3s ease-in-out;
    animation: expand 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
.providing-gst:hover {
    background-color: var(--content-color);
    color: var(--white-content);
    border-bottom: 5px solid var(--white-content);
    transform: scale(1.1);
}
.providing-gst:hover p{
    color: var(--white-content);
    
}
.provided-gst li span {
    background-color: #024F7C;
    padding: 10px;
}

.document {
    background-color: var(--white-content);
    border-radius: 30px;
    transition: 0.3s ease-in-out;
    padding-bottom: 3px;
}

.document .req ol li {
    list-style-position:outside;
    margin-inline: 30px;
    line-height: 1.3rem;
    margin-block: 10px;
    position: relative;
}

.document .req ol li::before {
    content:✅ !important;
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
}

.document p {
    border-radius:  30px 30px 0px 0px;
}

.document .req ol  {
    box-shadow: inset 0px 1px 15px 1px #00000054;
    height: 330px;
    overflow: auto;
    border-radius:  30px;
    width: 95%;
    margin: 0 auto;
}
.document .req ol::-webkit-scrollbar {
    display: none;
}
 
.src {
    position: relative;
    width: 50%;
}
.src::before, .src::after {
    content: '';
    background-color: var(--white-content) !important;
    width: 28%;
    height: 1px;
    position: absolute;
    top: 55%;
    transform: translateY(-1px);
    margin-inline: 5px;
}
.src::before {
    left: 0;
}
.src::after {
    right: 0;
}
.yearly-pkg .src::before, .yearly-pkg  .src::after {
    background-color: var(--btn-hover) !important;
}
.form-control {
  background: var(--body-color) !important;
  border: none;
  color: var(--white-content);
}
.form-control:focus {
    box-shadow: none;
    color: var(--white-content);
    border-color: var(--content-color) !important;
} 
.contact-icon {
    padding-right: 5px;
}
.price-list .ch-icon {
    border: 5px solid var(--white-content);
    width: 100px;
    height: 100px;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    font-size: 35px;
    top:-15%;
    left: 0;
    right: 0;
    z-index: 999;
}


.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;  
    border-radius: 10px;
    perspective: 1000px;
    transition: 0.3s ease-in;
  }
  .active {
    animation: flip-in-hor-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: max-content;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .flip-box-front p {
    border-radius: 20px 0px ;
  }
  .flip-box-front  {
    background-color: #fff;
    color: black;
    border-radius: 20px 0px;
  }
  
  .flip-box-front img
  {
    height: 50px;
    width: 50px;
  }
  
  .flip-box-back {
    background-color: #ffffff;
    color: #000;
    transform: rotateY(180deg);
    border-radius: 10px;
    padding: 16px;
  }
  .badge-area-show {
    position: relative;
  }
  
  .bagde-flag-wrap {
      position: absolute;
      top: 0;
      left: -12px;
  }
  
  .bagde-flag-wrap::before {
      content: "";
      position: absolute;
      top: 25px;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12px 12px 0;
      border-color: transparent grey transparent transparent;
  }
  
  .bagde-flag {
      text-transform: capitalize;
      color: #ffffff;
      background: var(--content-color);
      letter-spacing: 1px;
      font-size: 10px;
      line-height: 15px;
      font-weight: 600;
      padding: 5px 10px;
      display: block;
    text-decoration: none;
    margin-right: 10px;
    
    
    
  }
  .bagde-flag-wrap-1 {
    position: absolute;
    top: -10px;
    left: -10px;
}

.bagde-flag-1 {
    text-transform: capitalize;
    color: #ffffff;
    background: var(--content-color);
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 15px;
    font-weight: 600;
    padding: 5px 10px;
    display: block;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
  text-decoration: none;
  padding-top: 15px;
  margin-right: 10px;
  border-radius:  0px;
  
}
.providing-gst:hover .bagde-flag-1 {
    background-color: var(--white-content);
    color: var(--content-color);
}
.title-ul li {
    list-style-type: none;
    background-color: var(--content-color);
    color: var(--white-content) !important;
    transition: 0.3s ease-in-out;
    border: 3px solid transparent;
}
.title-ul li:hover {
    transform: scale(1.1);
}
.content-1  {
    border-radius: 30px;
    display: none;
}
.activecontent {
    display: block;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
 
 .active-header {
    transform: scale(1.1);
    border-color: var(--white-content) !important;
 }
 .properatorship {
	background-image:  radial-gradient(#444CF7 1px, transparent 1px), radial-gradient(#444CF7 1px, #E5E5F7 1px);
	background-size: 50px 50px;
	background-position: 0 0,100px 100px; 
}